body

  {
            background-color: rgb(217, 246, 247);
            margin: 60px;
            border: 20px solid rgb(0, 0, 0);
            padding: 15px;
        }

        h2 {
            background-color:  #fff;

        }


body h1, h4
{
    text-align: center;
}
img
{
    display: block;
    margin: auto;
    border: 6px dashed black;

}

p
{
    margin: 50px 0px;
    border: 1px solid rgb(161, 161, 161);
    background: rgb(173,216,230);
}

h2 a
{
    color: #e9636f;
    opacity: 0.33;
    width: 180px;
    height: 180px;
    overflow: auto;
}
h2
{
  font-size:30px;
  font-family: cursive;

}
h4
{
    color: #e9636f;
}

img
{
    width: 600px;
    height: 500px;

}
.section-one {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            border: 2px solid rgb(161, 161, 161);

        }

.section-one h4 {
            text-align: center;
            font-size: 24px;
        }

.titulos
        {
            display: flex;
            justify-content: space-around;
        }
.text
{
  font-family:inherit;
}
.netflix {
  color: #0000FF;
}
#official-info {
            background: rgb(173,216,230);
        }
#numero-s {
  width: 200px;
  height: 200px;



}
