body

  {
            background-color: rgb(217, 246, 247);
            margin: 10px;
            border: 10px solid rgb(0, 0, 0);
            padding: 10px;
            margin-bottom: 10px;

        }




body h1, h4
{
    text-align: center;
}
img
{
    display: block;
    margin: auto;
    border: 6px ridge black;
     margin: 0px 15px 15px 0px;


}

p
{

    background: rgb(173,216,230);

}

h2 a
{
    color: #e9636f;
    opacity: 0.33;
    width: 180px;
    height: 180px;
    overflow: auto;
}
h2
{
  font-size:26px;
  font-family: cursive;

}
h4
{
    color: #e9636f;
}

img
{
    width: 200px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 10px;
    float: left;



}
.section-one {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            border: 2px solid rgb(161, 161, 161);

        }

.section-one h4 {
            text-align: center;
            font-size: 24px;
        }

.titulos
        {
            display: flex;
            justify-content: space-around;
        }
.text
{
  font-family:inherit;
}
.netflix {
  color: #0000FF;
}
#official-info {
            background: rgb(173,216,230);
        }
#numero-s {
  width: 200px;
  height: 200px;
}
.fact {
                border-top: 1px solid rgb(0, 0, 0);
                border-bottom: 1px solid rgb(0, 0, 0);
                padding-top: 6px;
                padding-bottom: 6px;

            }
.warning {
  background-color: black;
color: white;
 }
 p.warning{
    border: 5px solid black;
 }
 .orange {
                background-color: orange;
            }

.yellow {
                background-color: yellow;
            }

.purple {
                background-color: purple;
                color: white;
            }
            .green {
                            background-color: green;
                            color: white;
                        }
                        .coffee{
                          background-color: gray;
                          color: white;
                        }
